.team-icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
}

.team-icon-link svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover svg,
.team-icon-link:focus svg {
  fill: var(--white-color);
}

.footer-icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-icon-link svg {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
